<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiec.contact"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"/>
    
    
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name = "android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />  
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" /> 
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <uses-permission android:name="android.permission.READ_SMS" />  
	<uses-permission android:name="android.permission.WRITE_SMS" /> 
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>   
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>  
 	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
 	
	
    <application
        android:name="com.jiec.contact.MyApplication"
        android:allowBackup="true"
        android:persistent="true"  
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jiec.contact.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jiec.contact.LoginPhoneActivity" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/> 
        <activity android:name="com.jiec.contact.MyContactActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.jiec.contact.MyRecordActivity"
            android:launchMode="singleTask" 
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"/>
        <activity android:name="com.jiec.contact.MyJobActivity" 
            android:screenOrientation="portrait"/>
        <activity android:name="com.jiec.contact.SettingActivity" 
            android:screenOrientation="portrait"/>
        <activity android:name="com.jiec.contact.LoginUIDActivity" 
            android:screenOrientation="portrait"/>
        <activity android:name="com.jiec.contact.ContactDetailActivity" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.jiec.contact.ContactEditActivity" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        
        <service android:name="com.jiec.contact.SaveFileService" />
        
        <receiver android:name="com.jiec.contact.core.AppReceiver" >
			<intent-filter android:priority="2147483547">   
            	<action android:name="android.intent.action.PHONE_STATE"/>   
    			<action android:name="android.intent.action.NEW_OUTGOING_CALL" /> 
                
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>

                <action android:name="android.intent.action.BOOT_COMPLETED"/>  

                <category android:name="android.intent.category.LAUNCHER" />  
        	</intent-filter>
        </receiver>
        
        <meta-data android:value="54223b67fd98c5857502a636" android:name="UMENG_APPKEY"></meta-data>
		<meta-data android:value="1" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>
